<%- include("partials/header"); -%>
<div class="jumbotron centered">
  <h1 class="display-3">Test Your Memory!</h1>
  <p class="lead">How far can you memorise!</p>
  <P style="color: red"><%= locals.email_alreadyverified %> </P>
  <P style="color: red"><%= locals.email_successfullyverified %> </P>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <P style="color: red"><%= locals.success_messages %> </P>
            <P style="color: red"><%= locals.user_isnotavailable %> </P>
            <P style="color: red"><%= email_notverified2 %> </P>
            <form action="/register" method="post">
              <div class="form-group">
                <input
                  type="email"
                  id="registrationEmail"
                  class="form-control"
                  name="userName"
                  required
                  minlength="5"
                  maxlength="25"
                  placeholder="username"
                />
                <input
                  type="password"
                  id="registrationPassword"
                  class="form-control"
                  name="password"
                  required
                  minlength="5"
                  maxlength="25"
                  placeholder="password"
                />
              </div>
              <button onclick="storeRegistration()" class="btn-dark">
                register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <P style="color: red"> <%= locals.email_notverified %> </P>
              <P style="color: red"> <%= locals.error_messages %> </P>
              <P style="color: red"> <%= locals.incorrect_password %> </P>

              <form action="/login" method="post">
                <div class="form-group">
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    name="userName"
                    required
                    minlength="5"
                    maxlength="25"
                    placeholder="username"
                  />
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    required
                    minlength="5"
                    maxlength="25"
                    placeholder="password"
                  />
                </div>
                <button onclick="store()" class="btn-light">login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var storedEmailValue = localStorage.getItem("email");
    var storedPasswordValue = localStorage.getItem("password");
    console.log(storedEmailValue);
    document.getElementById("email").value = storedEmailValue;
    document.getElementById("password").value = storedPasswordValue;
  </script>
  <script type="text/javascript">
    function store() {
      var inputEmail = document.getElementById("email");
      var inputPassword = document.getElementById("password");
      localStorage.setItem("email", inputEmail.value);
      localStorage.setItem("password", inputPassword.value);
    }
  </script>

  <script type="text/javascript">
    var storedEmailValue = localStorage.getItem("registrationEmail");
    var storedPasswordValue = localStorage.getItem("registrationPassword");

    document.getElementById("registrationEmail").value = storedEmailValue;
    document.getElementById("registrationPassword").value = storedPasswordValue;
  </script>
  <script type="text/javascript">
    function storeRegistration() {
      var inputEmail = document.getElementById("registrationEmail");
      var inputPassword = document.getElementById("registrationPassword");
      localStorage.setItem("registrationEmail", inputEmail.value);
      localStorage.setItem("registrationPassword", inputPassword.value);
    }
  </script>
</div>

<div class="container">
  <header>
    <h1>Best Players</h1>
  </header>
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Highest Level</th>
        </tr>
      </thead>
      <tbody>
        <% var num=1 %> <% foundUsers.forEach(function(foundUser){ %>

        <tr>
          <td class="rank"><%= num++ %></td>
          <td class="team"><%= foundUser.playerName %></td>
          <td class="points"><%= foundUser.playerhighestLevel %></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</div>

<%- include("partials/footer"); -%>
